{% javascript vendor/fontfaceobserver.standalone %}

<script type="text/javascript">
    if (localStorage.getItem('has-fonts')) {
        document.documentElement.classList.add('webfonts');
    } else {
        Promise.all([
            new FontFaceObserver('Lato', {weight: 400}).load(),
            new FontFaceObserver('Lato', {weight: 700}).load()
        ])
        .then(function () {
            requestAnimationFrame(function () {
                document.documentElement.classList.add('webfonts');
            });
            localStorage.setItem('has-fonts', 'true');
        });
    }
</script>