// =============================================================================
// Highlights light
// =============================================================================

// Colours
$color_log_cabin: #272822;
$color_pablo: #75715e;
$color_cardinal_pink: #960050;
$color_asphalt: #1e0010;
$color_turquoise_blue: #66d9ef;
$color_dull_lavender: #ae81ff;
$color_spring_wood: #f8f8f2;
$color_radical_red: #f92672;
$color_golden_sand: #e6db74;
$color_atlantis: #a6e22e;

// Inline highlighting

.highlighter-rouge {
  padding: 2px 4px;
  color: $color_atlantis;
  background: $color_log_cabin;
  border: 1px solid $base-border-color;
  border-radius: 1px;
  margin-bottom: 30px;

  @at-root code#{&} {
    color: $gray-darkest;
    background: lighten($gray-lightest, 6);
  }
}

// Responsive
// =============================================================================

@include breakpoint(small) {
  .highlight {
    padding: 30px 25px;
    font-size: 14px;
  }
}

// Highlighting
// =============================================================================

.highlight {
  padding: 30px 50px;
  margin: 0;
  overflow: auto;
  font-weight: 400;
  background: $color_log_cabin;
  border-radius: $base-border-radius;
  pre {
    margin: 0;
  }

  .hll { background-color: $color_log_cabin; }
  .c { color: $color_pablo } /* Comment */
  .err { color: $color_cardinal_pink; background-color: $color_asphalt } /* Error */
  .k { color: $color_turquoise_blue } /* Keyword */
  .l { color: $color_dull_lavender } /* Literal */
  .n { color: $color_spring_wood } /* Name */
  .o { color: $color_radical_red } /* Operator */
  .p { color: $color_spring_wood } /* Punctuation */
  .cm { color: $color_pablo } /* Comment.Multiline */
  .cp { color: $color_pablo } /* Comment.Preproc */
  .c1 { color: $color_pablo } /* Comment.Single */
  .cs { color: $color_pablo } /* Comment.Special */
  .ge { font-style: italic } /* Generic.Emph */
  .gs { font-weight: bold } /* Generic.Strong */
  .kc { color: $color_turquoise_blue } /* Keyword.Constant */
  .kd { color: $color_turquoise_blue } /* Keyword.Declaration */
  .kn { color: $color_radical_red } /* Keyword.Namespace */
  .kp { color: $color_turquoise_blue } /* Keyword.Pseudo */
  .kr { color: $color_turquoise_blue } /* Keyword.Reserved */
  .kt { color: $color_turquoise_blue } /* Keyword.Type */
  .ld { color: $color_golden_sand } /* Literal.Date */
  .m { color: $color_dull_lavender } /* Literal.Number */
  .s { color: $color_golden_sand } /* Literal.String */
  .na { color: $color_atlantis } /* Name.Attribute */
  .nb { color: $color_spring_wood } /* Name.Builtin */
  .nc { color: $color_atlantis } /* Name.Class */
  .no { color: $color_turquoise_blue } /* Name.Constant */
  .nd { color: $color_atlantis } /* Name.Decorator */
  .ni { color: $color_spring_wood } /* Name.Entity */
  .ne { color: $color_atlantis } /* Name.Exception */
  .nf { color: $color_atlantis } /* Name.Function */
  .nl { color: $color_spring_wood } /* Name.Label */
  .nn { color: $color_spring_wood } /* Name.Namespace */
  .nx { color: $color_atlantis } /* Name.Other */
  .py { color: $color_spring_wood } /* Name.Property */
  .nt { color: $color_radical_red } /* Name.Tag */
  .nv { color: $color_spring_wood } /* Name.Variable */
  .ow { color: $color_radical_red } /* Operator.Word */
  .w { color: $color_spring_wood } /* Text.Whitespace */
  .mf { color: $color_dull_lavender } /* Literal.Number.Float */
  .mh { color: $color_dull_lavender } /* Literal.Number.Hex */
  .mi { color: $color_dull_lavender } /* Literal.Number.Integer */
  .mo { color: $color_dull_lavender } /* Literal.Number.Oct */
  .sb { color: $color_golden_sand } /* Literal.String.Backtick */
  .sc { color: $color_golden_sand } /* Literal.String.Char */
  .sd { color: $color_golden_sand } /* Literal.String.Doc */
  .s2 { color: $color_golden_sand } /* Literal.String.Double */
  .se { color: $color_dull_lavender } /* Literal.String.Escape */
  .sh { color: $color_golden_sand } /* Literal.String.Heredoc */
  .si { color: $color_golden_sand } /* Literal.String.Interpol */
  .sx { color: $color_golden_sand } /* Literal.String.Other */
  .sr { color: $color_golden_sand } /* Literal.String.Regex */
  .s1 { color: $color_golden_sand } /* Literal.String.Single */
  .ss { color: $color_golden_sand } /* Literal.String.Symbol */
  .bp { color: $color_spring_wood } /* Name.Builtin.Pseudo */
  .vc { color: $color_spring_wood } /* Name.Variable.Class */
  .vg { color: $color_spring_wood } /* Name.Variable.Global */
  .vi { color: $color_spring_wood } /* Name.Variable.Instance */
  .il { color: $color_dull_lavender } /* Literal.Number.Integer.Long */

  .gh { } /* Generic Heading & Diff Header */
  .gu { color: $color_pablo; } /* Generic.Subheading & Diff Unified/Comment? */
  .gd { color: $color_radical_red; } /* Generic.Deleted & Diff Deleted */
  .gi { color: $color_atlantis; } /* Generic.Inserted & Diff Inserted */
}
